@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.3);
  --scrollbar-track: transparent;
  --scrollbar-width: thin;
  --focus-outline: rgba(99, 60, 255, 1);
}

.custom-scrollbar {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;

  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.375rem;
  margin-left: 0.25rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  margin-left: 0.25rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  margin-left: 0.25rem;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* animation */
@keyframes pulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-pulse {
    animation: none !important;
  }
}

*:focus-visible {
  outline: 2px solid var(--focus-outline);
  outline-offset: 3px;
  border-radius: 4px;
}
